/* 초기화 */
* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

.hidden {
  position: absolute;
  left: -9999px
}

body {
  background: url("../images/background.png") center no-repeat fixed;
  background-size: cover;
}

/* 상단 페이지 시작 */

#headerTile {
  width: 99vw;
  height: 100vh;
}

#headerTile .titletop {
  position: relative;
  left: 52%;
  top: 40%;
  transform: translate(-50%, -50%);
}


/* 스크롤 다운 버튼 */

#ScrollDown>p {
  display: block;
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ScrollDown>p:hover{
  font-weight: bold;
}

.ScrollDownClick {
  color: #fff;
}

#ScrollDownBar {
  display: block;
  width: 1px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
}



/* 섹션 시작 메인시작 */

#wrapR {
  width: 90%;
  margin: 0 auto;
}

/* 컨텐츠1 */

#info {
  display: flex;
  flex-direction: row;
}

#infoL {
  width: 50%;
  height: auto;
  background-color: rgb(240, 236, 235);
  text-align: center;
}

#infoL h2 {
  margin: 30px;
  float: right;
}

#infoL p {
  width: 80%;
  height: auto;
  padding: 20px;
}

#infoR {
  width: 50%;
  height: auto;
  background-color: rgb(041, 114, 153);
  color: #fff;
  text-align: center;
}

#infoR h2 {
  margin: 30px;
  float: left;
}

#infoR p {
  width: 80%;
  height: auto;
  padding: 20px;
}

/* 컨텐츠2 */
#portfolio {
  display: flex;
  flex-direction: row;
}

#portfolioContent1L {
  width: 50%;
  height: auto;
  background-color: #fff;
  text-align: center;
}

#portfolioContent1L img {
  padding: 30px;
}

#portfolioContent1R {
  width: 50%;
  height: auto;
  background-color: #fff;
}

#portfolioContent1R h2 {
  padding: 20px;
}

@media (min-width:768px) and (max-width:1024px) {
  #wrapR {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width:767px) {

  .titletop {
    width: 250px;
    height: auto;
  }

  #wrapR{
    width: 100%;
  }

  #info, #portfolio{
    display: block;
  }

  #infoL, #infoR, #portfolioContent1L, #portfolioContent1R{
    width: 100%
  }

  #portfolioContent1L img {
    padding: 0;
  }
