/* 초기화 */
* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

.hidden {
  position: absolute;
  left: -9999px
}

body {
  background: url("../images/background.png") center no-repeat fixed;
  background-size: cover;
}

@font-face {
  font-family: NanumSquareEB;
  src: url("../font/NanumSquareEB.ttf"),
    url("../font/NanumSquareEB.eot"),
    url("../font/NanumSquareEB.woff");
}

@font-face {
  font-family: NanumBarunGothicSubset;
  src: url("../font/NanumBarunGothicSubset.ttf"),
    url("../font/NanumBarunGothicSubset.eot"),
    url("../font/NanumBarunGothicSubset.woff");
}


/* 탑버튼 */

#topBtn{
  position: fixed; bottom: 20px; right: 20px;
}


/* 상단 페이지 시작 */
#headerTile {
  width: 100%;
  height: 100vh;
}

#headerTile .titletop {
  position: relative;
  left: 52%;
  top: 40%;
  transform: translate(-50%, -50%);
}

/* 스크롤 다운 버튼 */
#ScrollDown>p {
  display: block;
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: updown 1.5s infinite;

}

@keyframes updown {
  from{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
  } to{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#ScrollDown .ScrollDownClick:hover{
  color: #ffdd99;
  font-weight: bold;
}


.ScrollDownClick {
  color: #fff;
}




#ScrollDownBar {
  display: block;
  width: 1px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
}

/* 섹션 시작 메인시작 */
#wrapR {
  width: 90%;
  margin: 0 auto;
}

/* 컨텐츠1 */
#info {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#info>.myprofile {
  display: block;
  margin: 0 auto;
  width: 53vw;
  padding-bottom: 70px;
  transition: all 0.3s;
}

.myprofile:hover{
  transform: scale(1.1);
}

#info>.about, .skill {
  text-align: center;
  font-family: NanumSquareEB;
  font-size: 48px;
  color: #3c4761;
  padding: 80px 0 50px 0px;
}

#line {
  width: 80px;
  height: 4px;
  margin: 0 auto;
  background-color: #cad8e2;
  margin-bottom: 50px;
}

#info>.aboutTxt {
  display: inline-block;
  color: #3c4761;
  position: relative;
  left: 20%;
  font-family: NanumBarunGothicSubset;
  line-height: 28px;
}

.aboutTxt>h3 {
  font-size: 24px;
  margin-bottom: 35px;
}

.aboutTxt>p {
  font-size: 18px;
}

#myskill {
  display: block;
  text-align: center;
}

#myskill>img {
  position: relative;
  top: 0;
  padding: 40px;
  transition: all 0.3s;
}

#myskill>img:hover{
  transform: scale(1.1);
}

/* 컨텐츠2 */
#portfolio {
  background-color: #ffdd99;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

#portfolio>.portfolioTitle {
  text-align: center;
  font-family: NanumSquareEB;
  font-size: 48px;
  color: #3c4761;
  padding: 80px 0 50px 0px;
}

#portfolioContentWarp {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#hover{
  width: 650px;
  height: 700px;
  position: relative;
  cursor: pointer;
  margin: 10px;

}

#portfolioContent {
  width: 650px;
  height: 700px;
  background-color: #fff;
  border-radius: 20px;
}

#hover:hover .portfolioContentHover{
  width: 650px;
  border-radius: 20px;
}

#hover .portfolioContentHover{
  width: 0px;
  height: 700px;
  background-color: rgba(86, 143, 190, 0.3);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s ease-in;
  border-radius: 20px;
}

.portfolioContentHover a{
  color: #3c4761;
  padding: 25px;
  background-color: #fff;
  font-family: NanumSquareEB;
}


#portfolioContent .portfolioContentImg {
  padding-top: 60px;
  text-align: center;
}

#portfolioContent .portfolioContentTxt1, .portfolioContentTxt2, .portfolioContentTxt3, .portfolioContentTxt4 {
  width: 480px;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
}

#portfolio h3 {
  color: #3c4761;
  font-family: NanumSquareEB;
  font-size: 30px;
  padding-bottom: 20px;
}

#portfolio h4 {
  color: #ff8276;
  font-family: NanumSquareEB;
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 10px;
}

#portfolio p {
  color: #3c4761;
  font-family: NanumBarunGothicSubset;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

/* 푸터 */
#footer {
  background-color: #324e66;
  width: 100%;
  color: #fff;
  height: auto;
}

#footer>.contact {
  text-align: center;
  font-family: NanumSquareEB;
  font-size: 48px;
  padding: 80px 0 50px 0px;
}

#footerContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
}

#footerContent .footerContentMail, .footerContentPh {
  padding: 30px;
}

#footerContent a {
  color: #fff;
}

#footerContent a:hover{
  color: #ffdd99;
  transition: 1s;
}

#footer p, img {
  display: inline-block;
  font-size: 28px;
  vertical-align: middle;
  padding: 5px;
  font-family: NanumSquareEB;
}

#footer .logoImg {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, -20%);
}

@media (min-width:768px) and (max-width:1024px) {
  #headerTile {
    width: 100%;
  }

  #wrapR {
    width: 100%;
  }

  #info>.myprofile {
    width: 95%;
  }

  #info>.aboutTxt {
    left: 10%;
  }
}

@media (max-width:767px) {

  #topBtnA{
    display: none;
  }

  #headerTile {
    width: 100%
  }

  .titletop {
    width: 250px;
    height: auto;
  }

  #wrapR {
    width: 100%;
  }

  #info>.myprofile {
    width: 95%;
  }

  #info>.aboutTxt {
    left: 0;
    margin: 15px;
    justify-content: center;
  }

  .aboutTxt>h3 {
    font-size: 20px;
  }

  .aboutTxt>p {
    font-size: 16px;
  }

  #hover, #portfolioContent{
    width: 100%;
    height: 510px;
  }

  #hover:hover .portfolioContentHover{
    width: 100%;
    height: 510px;
  }

  #portfolioContent .portfolioContentTxt1, .portfolioContentTxt2, .portfolioContentTxt3, .portfolioContentTxt4{
    width: 90%;
    padding: 10px;
  }

  .portfolioContentImg >img{
    width: 50%;
  }

  #portfolioContent .portfolioContentImg {
    width: 100%;
    padding-top: 10px;
  }

  #footerContent .footerContentMail, .footerContentPh {
    padding: 10px;
  }

}
