/* 초기화 */
* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

.hidden {
  position: absolute;
  left: -9999px
}

body {
  background: url("../images/background.png") center no-repeat fixed;
  background-size: cover;
}

@font-face {
  font-family: NanumSquareEB;
  src: url("../font/NanumSquareEB.ttf"),
    url("../font/NanumSquareEB.eot"),
    url("../font/NanumSquareEB.woff");
}

@font-face {
  font-family: NanumBarunGothicSubset;
  src: url("../font/NanumBarunGothicSubset.ttf"),
    url("../font/NanumBarunGothicSubset.eot"),
    url("../font/NanumBarunGothicSubset.woff");
}

/* 탑버튼 */
#homeBtn {
  position: fixed;
  bottom: 110px;
  right: 20px;
  transition: all 0.3s;
}

#homeBtn:hover {
  transform: scale(1.1);
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.3s;
}

#topBtn:hover {
  transform: scale(1.1);
}

/* 섹션 시작 메인시작 */
#wrapR {
  width: 90%;
  margin: 0 auto;
}

/* 서브 콘텐츠1 시작 */
#subcontent1 {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 100px;
  padding-bottom: 200px;
}

#subcontent1Title {
  text-align: center;
  font-family: NanumSquareEB;
  font-size: 40px;
  color: #3c4761;
  padding: 80px 0 50px 0px;
}

#line1 {
  width: 50px;
  height: 4px;
  margin: 0 auto;
  background-color: #3c4761;
  margin-bottom: 100px;
}

#line2 {
  width: 50px;
  height: 4px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 50px;
}

#secton1flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#subcontent1L {
  width: 50%;
}

#subcontent1L .appdesign {
  width: 100%;
  height: auto;
}

#subcontent1R {
  width: 45%;
  padding-left: 5%;
}

#subcontent1RWrap {
  width: 100%;
}

#subcontent1RWrap .applogo {
  margin-bottom: 40px;
}

#subcontent1RTxt {
  width: 80%;
  height: auto;
  display: block;
}

#subcontent1RTxt>h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: NanumSquareEB;
  color: #3c4761;
}

#subcontent1RTxt>h4 {
  color: #ff8276;
  font-family: NanumSquareEB;
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 10px;
}

#subcontent1RTxt>p {
  font-size: 18px;
  font-family: NanumBarunGothicSubset;
  color: #3c4761;
  line-height: 25px;
  justify-content: center;
  padding-bottom: 10px;
}


/* 푸터 */
#footer {
  background-color: #324e66;
  width: 100%;
  color: #fff;
  height: auto;
}

#footer>.contact {
  text-align: center;
  font-family: NanumSquareEB;
  font-size: 48px;
  padding: 80px 0 50px 0px;
}

#footerContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
}

#footerContent .footerContentMail, .footerContentPh {
  padding: 30px;
}

#footerContent a {
  color: #fff;
}

#footerContent a:hover {
  color: #ffdd99;
  transition: 1s;
}

#footer p, img {
  display: inline-block;
  font-size: 28px;
  vertical-align: middle;
  font-family: NanumSquareEB;
}

#footer .logoImg {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, -20%);
}

@media (min-width:768px) and (max-width:1024px) {
  #wrapR {
    width: 100%;
    height: auto;
  }

  #subcontent1 {
    padding-bottom: 100px;
  }

  #subcontent1Title {
    font-size: 35px;
  }

  #subcontent1RTxt {
    margin-bottom: 20px;
  }

  .applogo {
    width: 150px;
  }
}

@media (max-width:767px) {
  #wrapR {
    width: 100%;
  }

  #homeBtn, #topBtn {
    display: none;
  }

  #subcontent1L, #subcontent1R {
    width: 100%
  }

  #subcontent1 {
    padding-bottom: 0;
  }

  #subcontent1Title {
    font-size: 35px;
  }

  #line1 {
    margin-bottom: 50px;
  }

  .applogo {
    display: none;
  }

  #subcontent1RTxt {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  #subcontent1RTxt p {
    display: block;
    width: 90%;
    height: auto;
  }

  #footerContent .footerContentMail, .footerContentPh {
    padding: 10px;
  }

  .contact {
    font-size: 35px;
  }

  #footer p {
    font-size: 18px;
  }
}
